<div class="menu">
  <div class="menu-content">
    {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
    <a class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}" href="{{ site.github.url }}/menu{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="social-icons">
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.instagram %}
      <a href="https://instagram.com/{{ site.author.instagram }}"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.spotify %}
      <a href="https://open.spotify.com/user/chaosgsc/playlist/3fwDMqi96eZs3vCqgLkzyK"><i class="fa fa-spotify" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.weixin %}
      <a href="https://wechat.com"><i class="fa fa-weixin" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.weibo %}
      <a href="http://weibo.com/p/1005055593885457"><i class="fa fa-weibo" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.dribbble %}
      <a href="http://dribbble.com/{{ site.author.dribbble }}"><i class="fa fa-dribbble" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
    {% if site.author.rss %}
      <a href="http://chaosgsc.com/atom.xml"><i class="fa fa-rss" aria-hidden="true" target="_blank"></i></a>
    {% endif %}
  </div>
</div>
